body {
  background-image: url(/public/image/cancha1.jpg);
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.carrito{
  color: white;
  font-size:30px;
  text-align: center;
}
.contador{
 font-size: 50px;
 margin-left: 90px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
